.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 770px) {
  .title {
    display: block;
  }
}

.greyedOut {
  filter: grayscale(100%);
  opacity: 0.5;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* Добавлено для выравнивания строки поиска справа */
}